[submodule "submodules/wxWidgets"]
	path = submodules/wxWidgets
	url = https://github.com/xLightsSequencer/wxWidgets
[submodule "submodules/zstd"]
	path = submodules/zstd
	url = https://github.com/facebook/zstd
[submodule "submodules/liquidfun"]
	path = submodules/liquidfun
	url = https://github.com/google/liquidfun
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "submodules/ffmpeg"]
	path = submodules/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "submodules/libxlswriter"]
	path = submodules/libxlswriter
	url = https://github.com/jmcnamara/libxlsxwriter.git
[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/lua/lua
[submodule "submodules/hidapi"]
	path = submodules/hidapi
	url = https://github.com/libusb/hidapi
[submodule "submodules/log4cpp"]
	path = submodules/log4cpp
	url = https://git.code.sf.net/p/log4cpp/codegit
