name: macOS CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:

    runs-on: macOS-26

    steps:
    - uses: actions/checkout@v2
      with:
          submodules: 'false'
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - name: Install dependencies
      run: |
        brew update
        brew install automake libtool cmake nasm
    - name: Build
      run: ./build.sh
    
