name: macOS CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:

    runs-on: macOS-26

    steps:
    - uses: actions/checkout@v2
      with:
          submodules: 'true'
    - name: Install dependencies
      run: |
        brew update
        brew install automake libtool cmake nasm
    - name: Build
      run: build.sh
    
