name: macOS Release

on:
  push:
    tags:
    - '*'
  workflow_dispatch:
jobs:
  build:

    runs-on: macOS-26

    steps:
    - uses: actions/checkout@v2
      with:
          submodules: 'true'
    - name: Install dependencies
      run: |
        brew update
        brew install automake libtool cmake nasm
    - name: Build
      run: build.sh
    - uses: ncipollo/release-action@v1
      with:
         allowUpdates: true
         artifacts: "output/*"
         token: ${{ secrets.GITHUB_TOKEN }}
